# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# production
app/build

# misc
.DS_Store
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

app/.next

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

.idea